@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

body {
  margin: 0;
  font-family: "Playwrite NZ Basic", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Pacifico", cursive;
}

button {
  font-family: inherit !important;
}

.grey-background{
  position:fixed;
  top:0;
  left:0;
  min-height:100svh;
  width:100svw;
  background-color: rgba(0,0,0,0.95);
  z-index:90;
}

:root{
  --primary-color: #f059de;

  --border-primary-color: #edade6;
  --border-color: #cfcfcf;

  --border-radius: 16px;

  --error-color: red;
}
